---

//Component imports
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout title="About" description="My about page">
	<p>Hi From About</p>
	<!-- <p slot="bottom">This is another set of words</p> called by named slotting-->
</MainLayout>
